@media (max-width: 768px) {
    .alert {
      padding: 10px;
      font-size: 14px;
      width: 100%;
    }
  }
  .alert-success {
    z-index: 9999;
    position: relative;
  }


  .signin-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
